<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="campusinfosystem.model.Properties.Settings.Campus_info_systemConnectionString"
            connectionString="Data Source=SERVER\SQLEXPRESS;Initial Catalog=&quot;Campus info system&quot;;User ID=sa;Password=admin#1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>