<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="campusinfosystem.model.Properties.Settings.Campus_info_systemConnectionString"
            connectionString="Data Source=.;Initial Catalog=&quot;Campus info system&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>